* {
    margin:0;
    padding:0;

}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(2, 2, 105);
}

#container {
    width: 600px;
    height: 600px;
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
    flex-direction: column;
    border: rgb(106, 106, 255) 10px solid;
    border-radius: 10px;
    background-color: rgb(255, 255, 255)
}

#size {
    margin-bottom: 30px;
    padding: 10px;
    background-color:rgb(34, 82, 240);
    color: white;
    border:rgb(106, 106, 255) 5px solid;
    border-radius: 4px;
}

h1 {
    color: white;
    margin: 30px;
}